@import "bootstrap/bootstrap.less";

//import all the other custom files you want to this file.

/*Custom Mixins */
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}


/*custom css*/
body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/*header and footer*/
div.headerline {
    .gradient(top, #213862, #48627a);
    padding-top: 20px;
    padding-bottom: 20px;
}

div.footerline {
    .gradient(bottom, #213862, #48627a);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navnavbar-fixed-top{
    clear: both;
    right: 0;
    left: 0;
}

.spacer{
        width: 100%;
        height: 45px;
}