
/*Logo and header*/
.inline
	{
	display: inline;
	}

.main-header
	{
    margin-top: 20px;
    margin-bottom: 30px;
	}

.first-row
	{
	margin-top: 20px;
	}

.logo
	{
    height:50px;
    }

/*Product Table*/
.viewButton
	{
	font-style: Nexa Bold;
	color: white;
	background-color: #818285;
	padding: 0px 8px;
	}
.alignCenter
	{
	text-align: center;
	}
th
	{
    background-color: #0a3251;
    color: white;
	}
.tableTitle
	{
	color: #be1e2d;
	margin-top: 2%;
	margin-bottom: 1%;
	font-style: Nexa Bold;
	font-size: 25px;
	}
/*Nav toggle*/
.nav-tabs
	{
  border-bottom: 8px solid #002143;
	}

.select2-container .select2-selection--single 
	{
    height: 34px;
	}