
/*Logo and header*/
.add-product{
	color: grey;
	font-size: 10px;
}

.inline{
	display: inline;
}

.main-header{
    margin-top: 20px;
    margin-bottom: 30px;
}

.first-row{
	margin-top: 20px;
}

.logo{
    height:50px;
    }

/*recent recall side bar */
.enforment-reports{
	margin: 20px;
	height: 60vh;
}

.recall-div{
	margin-top: 20px;
	width:400px;
}

.recall-head{
		color: white;
  		text-align: center;
  		width: 400px;
		height: 30px;
		background-color: #154064;
		padding-top: 8px;
	}

/*product info*/
.prod-info{
	font-size: 14px;
}

.info{
	color: #154064;
	font-weight: bold;
	margin-right: 8px;
	}

/* side effects */
#adverse-events{
	width:50%;
	margin-bottom:20px;

	ul{
		width: 50%; 
		margin-left: 0px;
	}

	li{
		white-space:nowrap;
		display: inline;
		margin-left: 20px;
		font-size: 12px;
	}

	li:not(:first-child){
		margin-right:1em;
		}

	li:first-child{
		margin-right:0.5em;
		margin-left: 0px;
	}
}

span.bullet{
	font-size: 10px;
  	color: #b81e30;
}

.recalls{
	border-radius: 0;
	height:auto;
    max-height:150%;
    overflow:auto;
}


/*show and hide in description*/
.hide{
    display:none;
}

.more{
    font-size:13px;
    padding:3px;
    cursor:pointer;
}


/*add product modal*/
.form-btns{
	float:right;
}

.errors{
	color:#b81e30;
	font-style: italic;
}



/*Nav toggle*/
.nav-tabs {
  border-bottom: 8px solid #002143;
}

.select2-container .select2-selection--single 
	{
    height: 34px;
	}